In [291]:
import pandas as pd
import json
import gspread
from main import _create_dataframe

In [292]:
df = _create_dataframe()
df.sample(5)

ValueError: a must be greater than 0 unless no samples are taken

In [ ]:
df = df.iloc[:,1:]
df.sample(5)

,title,km,price,features,url,image_link
720,Toyota Highlander 2010 #185861,124400 KM,Precio: $202999,"{' Transmisión': 'Automática', 'Tracción': '4x...",https://www.kavak.com/mx/toyota-highlander-bas...,https://images.kavak.services/images/185861/EX...
653,Suzuki Vitara 2016 #154292,80840 KM,Precio: $290999,"{' Tracción': '4x2', 'Transmisión': 'Automátic...",https://www.kavak.com/mx/suzuki-vitara-glx-201...,https://images.kavak.services/images/154292/EX...
472,Volkswagen Gol 2020 #186401,27700 KM,Precio: $230999,"{' Tracción': '4x2', 'Transmisión': 'Manual', ...",https://www.kavak.com/mx/volkswagen-gol-hb-tre...,https://images.kavak.services/images/186401/EX...
31,Seat Leon 2016 #185610,81400 KM,Precio: $265999,"{' Tracción': '4x2', 'Transmisión': 'Automátic...",https://www.kavak.com/mx/seat-leon-style-14t-2...,https://images.kavak.services/images/185610/EX...
750,Kia Forte 2018 #168975,79800 KM,Precio: $263999,"{' Transmisión': 'Automática', 'Tracción': '4x...",https://www.kavak.com/mx/kia-forte-lx-2018-com...,https://images.kavak.services/images/168975/EX...

In [ ]:
df['features'] = df['features'].str.replace("'",'"')
df['features'] = df['features'].str.replace(" ",'')
df['features'] = df['features'].apply(lambda x: json.loads(x))

In [ ]:
count=0
for row in df['features']:
    row.update({'key': count})
    count +=1
df['features']

0      {'Transmisión': 'Manual', 'Uso': 'Particular',...
1      {'Combustible': 'Gasolina', 'Tracción': '4x2',...
2      {'Transmisión': 'Automática', 'Tracción': '4x2...
3      {'Tracción': '4x2', 'Transmisión': 'Automática...
4      {'Transmisión': 'Automática', 'Tracción': '4x2...
                             ...
795    {'Tracción': '4x2', 'Transmisión': 'Manual', '...
796    {'Tracción': '4x2', 'Transmisión': 'Manual', '...
797    {'Tracción': '4x2', 'Transmisión': 'Automática...
798    {'Transmisión': 'Automática', 'Tracción': '4x2...
799    {'Tracción': '4x2', 'Transmisión': 'Manual', '...
Name: features, Length: 800, dtype: object

In [ ]:
features_list = []
for row in df['features']:
    features_list.append(row)
df2 = pd.DataFrame(features_list)
df2

,Transmisión,Uso,Tracción,Combustible,Litros,ConsumodeGasolina,StockID,key
0,Manual,Particular,4x2,Gasolina,"1,8","8,1",47639,0
1,Automática,Particular,4x2,Gasolina,"2,5",8,30830,1
2,Automática,NaN,4x2,NaN,NaN,NaN,191988,2
3,Automática,NaN,4x2,NaN,NaN,NaN,191577,3
4,Automática,NaN,4x2,NaN,NaN,NaN,190528,4
...,...,...,...,...,...,...,...,...
795,Manual,NaN,4x2,NaN,NaN,4.9,131110,795
796,Manual,NaN,4x2,NaN,NaN,6,127887,796
797,Automática,NaN,4x2,NaN,NaN,NaN,120252,797
798,Automática,NaN,4x2,NaN,"2,5","7,7",116221,798
799,Manual,NaN,4x2,NaN,NaN,"4,6",111246,799

In [ ]:
df['key'] = df.index
df.head()

,title,km,price,features,url,image_link,key
0,Honda Civic 2015 #47639,89681 KM,Precio: $230999,"{'Transmisión': 'Manual', 'Uso': 'Particular',...",https://www.kavak.com/mx/honda-civic-lx-2015-c...,https://images.kavak.services/images/47639/civ...,0
1,Nissan X Trail 2015 #30830,101777 KM,Precio: $256999,"{'Combustible': 'Gasolina', 'Tracción': '4x2',...",https://www.kavak.com/mx/nissan-x-trail-exclus...,https://images.kavak.services/images/30830/nis...,1
2,Nissan Versa 2019 #191988,29777 KM,Precio: $238999,"{'Transmisión': 'Automática', 'Tracción': '4x2...",https://www.kavak.com/mx/nissan-versa-sense-20...,https://images.kavak.services/images/191988/EX...,2
3,Nissan Versa 2015 #191577,81200 KM,Precio: $174999,"{'Tracción': '4x2', 'Transmisión': 'Automática...",https://www.kavak.com/mx/nissan-versa-sense-20...,https://images.kavak.services/images/191577/EX...,3
4,Volkswagen Vento 2017 #190528,72535 KM,Precio: $206999,"{'Transmisión': 'Automática', 'Tracción': '4x2...",https://www.kavak.com/mx/volkswagen-vento-comf...,https://images.kavak.services/images/190528/EX...,4

In [ ]:
df_final = df.merge(df2, on='key',how='left')

In [ ]:
df_final.sample(5)

,title,km,price,features,url,image_link,key,Transmisión,Uso,Tracción,Combustible,Litros,ConsumodeGasolina,StockID
275,Kia Rio 2017 #152465,109688 KM,Precio: $225999,"{'Tracción': '4x2', 'Transmisión': 'Manual', '...",https://www.kavak.com/mx/kia-rio-hb-ex-2017-co...,https://images.kavak.services/images/152465/EX...,275,Manual,NaN,4x2,NaN,NaN,6,152465
427,Renault Captur 2018 #145775,78300 KM,Precio: $256999,"{'Tracción': '4x2', 'Transmisión': 'Manual', '...",https://www.kavak.com/mx/renault-captur-intens...,https://images.kavak.services/images/145775/EX...,427,Manual,NaN,4x2,NaN,NaN,6.5,145775
104,Chevrolet Trax 2013 #176397,63300 KM,Precio: $202999,"{'Transmisión': 'Manual', 'Tracción': '4x2', '...",https://www.kavak.com/mx/chevrolet-trax-ls-201...,https://images.kavak.services/images/176397/EX...,104,Manual,NaN,4x2,NaN,NaN,NaN,176397
729,Volkswagen Vento 2019 #178707,24830 KM,Precio: $229999,"{'Tracción': '4x2', 'Transmisión': 'Manual', '...",https://www.kavak.com/mx/volkswagen-vento-comf...,https://images.kavak.services/images/178707/EX...,729,Manual,NaN,4x2,NaN,NaN,NaN,178707
449,Volkswagen Vento 2017 #189156,30000 KM,Precio: $203999,"{'Transmisión': 'Manual', 'Tracción': '4x2', '...",https://www.kavak.com/mx/volkswagen-vento-star...,https://images.kavak.services/images/189156/EX...,449,Manual,NaN,4x2,NaN,NaN,NaN,189156

In [ ]:
df_final.drop(columns = ['key','features'], inplace=True)

In [ ]:
df_final.sample(5)

,title,km,price,url,image_link,Transmisión,Uso,Tracción,Combustible,Litros,ConsumodeGasolina,StockID
77,Volkswagen Vento 2018 #179861,93200 KM,Precio: $214999,https://www.kavak.com/mx/volkswagen-vento-high...,https://images.kavak.services/images/179861/EX...,Manual,NaN,4x2,NaN,NaN,NaN,179861
572,Toyota Prius 2014 #173323,125684 KM,Precio: $226999,https://www.kavak.com/mx/toyota-prius-hatch-ba...,https://images.kavak.services/images/173323/EX...,Automática,NaN,4x2,NaN,NaN,NaN,173323
629,Volkswagen Jetta A6 2016 #159612,99311 KM,Precio: $261999,https://www.kavak.com/mx/volkswagen-jetta-a6-s...,https://images.kavak.services/images/159612/EX...,Automática,NaN,4x2,NaN,NaN,8.1,159612
7,Nissan X Trail 2015 #189568,60350 KM,Precio: $278999,https://www.kavak.com/mx/nissan-x-trail-sense-...,https://images.kavak.services/images/189568/EX...,Automática,NaN,4x2,NaN,NaN,NaN,189568
730,Chevrolet Spark 2019 #177451,58076 KM,Precio: $191999,https://www.kavak.com/mx/chevrolet-spark-hatch...,https://images.kavak.services/images/177451/EX...,Manual,NaN,4x2,NaN,NaN,NaN,177451

In [ ]:
df_final['title'] = df_final['title'].str.replace(r' #[0-9]+.*$','',regex=True)
df_final['modelo'] = df_final['title'].str.extract(r'(\s\d+$)')
df_final['title'] = df_final['title'].str.replace(r'\s\d+$','',regex=True)
df_final['brand'] = df_final['title'].str.extract(r'(^[A-Z-a-z]+) .*')

In [ ]:
df_final['km'] = df_final['km'].str.replace(r'\D','',regex=True)
df_final['price'] = df_final['price'].str.replace(r'\D','',regex=True)
# if 'Litros' in df_final:
#     df_final['Litros'] = df_final['Litros'].str.replace(',','.')
# if 'ConsumodeGasolina' in df_final:
#     df_final['ConsumodeGasolina'] = df_final['ConsumodeGasolina'].str.replace(',','.')
# if 'NumerodeVelocidades' in df_final:
#     df_final['NumerodeVelocidades'] = df_final['NumerodeVelocidades'].str.replace(r'\D','',regex=True)

In [ ]:
df_final.sample(5)

,title,km,price,url,image_link,Transmisión,Uso,Tracción,Combustible,Litros,ConsumodeGasolina,StockID,modelo,brand
777,Honda CR-V,68000,258999,https://www.kavak.com/mx/honda-cr-v-ex-2013-co...,https://images.kavak.services/images/152726/EX...,Automática,NaN,4x2,NaN,NaN,10.4,152726,2013,Honda
736,Toyota Yaris,110586,240999,https://www.kavak.com/mx/toyota-yaris-r-xle-20...,https://images.kavak.services/images/174808/EX...,Automática,NaN,4x2,NaN,NaN,NaN,174808,2016,Toyota
649,Honda City,98572,193999,https://www.kavak.com/mx/honda-city-ex-2014-co...,https://images.kavak.services/images/156097/EX...,Automática,NaN,4x2,NaN,NaN,NaN,156097,2014,Honda
398,Nissan Versa,69500,256999,https://www.kavak.com/mx/nissan-versa-exclusiv...,https://images.kavak.services/images/173312/EX...,Automática,NaN,4x2,NaN,NaN,NaN,173312,2018,Nissan
754,Volkswagen Jetta A6,70500,256999,https://www.kavak.com/mx/volkswagen-jetta-a6-2...,https://images.kavak.services/images/166323/EX...,Manual,NaN,4x2,NaN,NaN,6.6,166323,2018,Volkswagen

In [ ]:
df_final = df_final[['StockID','title','brand','modelo','Transmisión','km','price','url','image_link']]

In [ ]:
df_final.sample(5)

,StockID,title,brand,modelo,Transmisión,km,price,url,image_link
306,146875,Suzuki Ciaz,Suzuki,2017,Manual,101500,214999,https://www.kavak.com/mx/suzuki-ciaz-glx-2017-...,https://images.kavak.services/images/146875/EX...
649,156097,Honda City,Honda,2014,Automática,98572,193999,https://www.kavak.com/mx/honda-city-ex-2014-co...,https://images.kavak.services/images/156097/EX...
730,177451,Chevrolet Spark,Chevrolet,2019,Manual,58076,191999,https://www.kavak.com/mx/chevrolet-spark-hatch...,https://images.kavak.services/images/177451/EX...
429,145093,Renault Duster,Renault,2017,Automática,61600,242999,https://www.kavak.com/mx/renault-duster-dynami...,https://images.kavak.services/images/145093/EX...
598,165496,Volkswagen Vento,Volkswagen,2019,Automática,37552,263999,https://www.kavak.com/mx/volkswagen-vento-high...,https://images.kavak.services/images/165496/EX...

In [ ]:
df_final = df_final.fillna('')
df_final = df_final.drop_duplicates()

In [ ]:
df_final = df_final.rename(columns={
    'StockID' : 'Stock Id',
    'title' : 'Automovil',
    'brand' : 'Marca',
    'modelo' : 'Modelo (Año)',
    'km' : 'Kilometraje',
    'price' : 'Precio',
    'url' : 'URL',
    'image_link' : 'URL de la Imagen'

})