In [43]:
import pandas as pd
import json
import gspread

In [44]:
df = pd.read_csv('raw_dataset.csv',delimiter=';')
df.sample(5)

,title,km,price,features,car_location,car_city,url,image_link
3036,Volkswagen Jetta A7 2019 #176811,64834 KM,Precio: $418999,"{' Tracción': '4x2', 'Transmisión': 'Automátic...",Kavak Lerma,Ciudad de México,https://www.kavak.com/mx/volkswagen-jetta-a7-h...,https://images.kavak.services/images/176811/EX...
6681,Seat Arona 2020 #186852,39300 KM,Precio: $378999,"{' Transmisión': 'Automática', 'Tracción': '4x...",Kavak Midtown Guadalajara,Guadalajara,https://www.kavak.com/mx/seat-arona-xcellence-...,https://images.kavak.services/images/186852/EX...
210,Nissan March 2020 #175472,8500 KM,Precio: $241999,"{' Transmisión': 'Manual', 'Tracción': '4x2', ...",Kavak Punto Valle,Monterrey,https://www.kavak.com/mx/nissan-march-hatch-ba...,https://images.kavak.services/images/175472/EX...
3528,Chevrolet Trax 2015 #185446,71273 KM,Precio: $245999,"{' Tracción': '4x2', 'Transmisión': 'Automátic...",Online Querétaro,Querétaro,https://www.kavak.com/mx/chevrolet-trax-ltz-18...,https://images.kavak.services/images/185446/EX...
2203,Mini Cooper S 2018 #180275,65880 KM,Precio: $399999,"{' Tracción': '4x2', 'Transmisión': 'Automátic...",Online CDMX,Ciudad de México,https://www.kavak.com/mx/mini-cooper-s-s-chili...,https://images.kavak.services/images/180275/EX...

In [45]:
df['features'] = df['features'].str.replace("'",'"')
df['features'] = df['features'].str.replace(" ",'')
df['features'] = df['features'].apply(lambda x: json.loads(x))

In [46]:
count=0
for row in df['features']:
    row.update({'key': count})
    count +=1
df['features']

0       {'Combustible': 'Gasolina', 'VidriosDelanteros...
1       {'Combustible': 'Gasolina', 'Transmisión': 'Au...
2       {'Transmisión': 'Automática', 'Combustible': '...
3       {'Transmisión': 'Automática', 'Combustible': '...
4       {'Combustible': 'Gasolina', 'Transmisión': 'Au...
                              ...
7810    {'Tracción': '4x2', 'Transmisión': 'Manual', '...
7811    {'Tracción': '4x4', 'Transmisión': 'Automática...
7812    {'Tracción': '4x2', 'Transmisión': 'Manual', '...
7813    {'Tracción': '4x2', 'Transmisión': 'Automática...
7814    {'Tracción': '4x2', 'Transmisión': 'Automática...
Name: features, Length: 7815, dtype: object

In [47]:
features_list = []
for row in df['features']:
    features_list.append(row)
df2 = pd.DataFrame(features_list)
df2

,Combustible,VidriosDelanterosfuncionamiento,Transmisión,Uso,Tracción,StockID,key,Litros,ConsumodeGasolina,CaballosdeFuerza,Turbo,NumerodeVelocidades
0,Gasolina,Eléctricos,Automática,Particular,4x4,47869,0,NaN,NaN,NaN,NaN,NaN
1,Gasolina,NaN,Automática,Particular,4x2,41530,1,"2,4","7,1",NaN,NaN,NaN
2,Híbrido,NaN,Automática,Particular,4x2,39442,2,"3,5","5,9",NaN,NaN,NaN
3,Gasolina,NaN,Automática,Particular,4x2,37565,3,"2,5","6,6",NaN,NaN,NaN
4,Gasolina,NaN,Automática,Particular,4x2,36161,4,"3,5","10,9",NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7810,NaN,NaN,Manual,NaN,4x2,157397,7810,NaN,6.5,NaN,NaN,NaN
7811,NaN,NaN,Automática,NaN,4x4,157395,7811,NaN,9.8,NaN,NaN,NaN
7812,NaN,NaN,Manual,NaN,4x2,157392,7812,NaN,6.4,NaN,NaN,NaN
7813,NaN,NaN,Automática,NaN,4x2,157388,7813,NaN,6.6,NaN,NaN,NaN
7814,NaN,NaN,Automática,NaN,4x2,157384,7814,NaN,NaN,NaN,NaN,NaN

In [16]:
df2[df2['Litros'].isna() == True]

,Combustible,VidriosDelanterosfuncionamiento,Transmisión,Uso,Tracción,StockID,key,Litros,ConsumodeGasolina,CaballosdeFuerza,Turbo,NumerodeVelocidades
0,Gasolina,Eléctricos,Automática,Particular,4x4,47869,0,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Automática,NaN,4x2,191551,9,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,Automática,NaN,4x2,190515,10,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,Automática,NaN,4x2,190402,11,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,Manual,NaN,4x2,190278,12,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7810,NaN,NaN,Manual,NaN,4x2,157397,7810,NaN,6.5,NaN,NaN,NaN
7811,NaN,NaN,Automática,NaN,4x4,157395,7811,NaN,9.8,NaN,NaN,NaN
7812,NaN,NaN,Manual,NaN,4x2,157392,7812,NaN,6.4,NaN,NaN,NaN
7813,NaN,NaN,Automática,NaN,4x2,157388,7813,NaN,6.6,NaN,NaN,NaN
7814,NaN,NaN,Automática,NaN,4x2,157384,7814,NaN,NaN,NaN,NaN,NaN

In [48]:
df['key'] = df.index
df.head()

,title,km,price,features,car_location,car_city,url,image_link,key
0,Jeep Wrangler 2017 #47869,60000 KM,Precio: $707999,"{'Combustible': 'Gasolina', 'VidriosDelanteros...",Kavak Punto Valle,Monterrey,https://www.kavak.com/mx/jeep-wrangler-unlimit...,https://images.kavak.services/images/47869/wra...,0
1,Honda Accord 2015 #41530,105360 KM,Precio: $241999,"{'Combustible': 'Gasolina', 'Transmisión': 'Au...",Kavak Punto Valle,Monterrey,https://www.kavak.com/mx/honda-accord-exl-2015...,https://images.kavak.services/images/41530/hon...,1
2,Infiniti Q50 2017 #39442,83440 KM,Precio: $396999,"{'Transmisión': 'Automática', 'Combustible': '...",Kavak Punto Valle,Monterrey,https://www.kavak.com/mx/infiniti-q50-hibrido-...,https://images.kavak.services/images/39442/inf...,2
3,Toyota Camry 2015 #37565,71350 KM,Precio: $245999,"{'Transmisión': 'Automática', 'Combustible': '...",Kavak Punto Valle,Monterrey,https://www.kavak.com/mx/toyota-camry-xle-2015...,https://images.kavak.services/images/37565/toy...,3
4,Ford Edge 2016 #36161,106640 KM,Precio: $354999,"{'Combustible': 'Gasolina', 'Transmisión': 'Au...",Kavak Punto Valle,Monterrey,https://www.kavak.com/mx/ford-edge-sel-plus-20...,https://images.kavak.services/images/36161/for...,4

In [49]:
df_final = df.merge(df2, on='key',how='left')

In [50]:
df_final.sample(5)

,title,km,price,features,car_location,car_city,url,image_link,key,Combustible,VidriosDelanterosfuncionamiento,Transmisión,Uso,Tracción,StockID,Litros,ConsumodeGasolina,CaballosdeFuerza,Turbo,NumerodeVelocidades
6833,Chevrolet Trax 2018 #162421,84330 KM,Precio: $291999,"{'Tracción': '4x2', 'Transmisión': 'Automática...",Online Querétaro,Querétaro,https://www.kavak.com/mx/chevrolet-trax-lt-201...,https://images.kavak.services/images/162421/EX...,6833,NaN,NaN,Automática,NaN,4x2,162421,NaN,6.7,NaN,NaN,NaN
2313,Hyundai Elantra 2016 #186376,64000 KM,Precio: $223999,"{'Tracción': '4x2', 'Transmisión': 'Automática...",Online CDMX,Ciudad de México,https://www.kavak.com/mx/hyundai-elantra-gls-p...,https://images.kavak.services/images/186376/EX...,2313,NaN,NaN,Automática,NaN,4x2,186376,NaN,NaN,NaN,NaN,NaN
4863,Mazda Mazda 3 2015 #170314,132400 KM,Precio: $228999,"{'Transmisión': 'Manual', 'Tracción': '4x2', '...",Kavak Lerma,Ciudad de México,https://www.kavak.com/mx/mazda-mazda-3-i-touri...,https://images.kavak.services/images/170314/EX...,4863,NaN,NaN,Manual,NaN,4x2,170314,NaN,NaN,NaN,NaN,NaN
3680,Mini Cooper S 2017 #174772,88250 KM,Precio: $398999,"{'Tracción': '4x2', 'Transmisión': 'Manual', '...",Online Puebla,Puebla,https://www.kavak.com/mx/mini-cooper-s-s-chili...,https://images.kavak.services/images/174772/EX...,3680,NaN,NaN,Manual,NaN,4x2,174772,NaN,NaN,NaN,NaN,NaN
4892,Mazda Mazda 3 2016 #170132,104850 KM,Precio: $234999,"{'Transmisión': 'Manual', 'Tracción': '4x2', '...",Kavak Plaza Fortuna,Ciudad de México,https://www.kavak.com/mx/mazda-mazda-3-hb-i-to...,https://images.kavak.services/images/170132/EX...,4892,NaN,NaN,Manual,NaN,4x2,170132,NaN,NaN,NaN,NaN,NaN

In [51]:
df_final.drop(columns = ['key','features'], inplace=True)

In [52]:
df_final.sample(5)

,title,km,price,car_location,car_city,url,image_link,Combustible,VidriosDelanterosfuncionamiento,Transmisión,Uso,Tracción,StockID,Litros,ConsumodeGasolina,CaballosdeFuerza,Turbo,NumerodeVelocidades
2047,Audi A4 2017 #181412,88250 KM,Precio: $432999,Kavak Lerma,Ciudad de México,https://www.kavak.com/mx/audi-a4-s-line-2017-c...,https://images.kavak.services/images/181412/EX...,NaN,NaN,Automática,NaN,4x2,181412,NaN,NaN,NaN,NaN,NaN
1320,Chevrolet Beat 2019 #185352,55270 KM,Precio: $186999,Online Puebla,Puebla,https://www.kavak.com/mx/chevrolet-beat-ls-201...,https://images.kavak.services/images/185352/EX...,NaN,NaN,Manual,NaN,4x2,185352,NaN,NaN,NaN,NaN,NaN
3282,Nissan Sentra 2018 #176102,66316 KM,Precio: $264999,Online CDMX,Ciudad de México,https://www.kavak.com/mx/nissan-sentra-advance...,https://images.kavak.services/images/176102/EX...,NaN,NaN,Manual,NaN,4x2,176102,NaN,NaN,NaN,NaN,NaN
1144,Infiniti QX60 2017 #190737,68115 KM,Precio: $552999,Kavak Forum Cuernavaca,Cuernavaca,https://www.kavak.com/mx/infiniti-qx60-qx60-pe...,https://images.kavak.services/images/190737/EX...,NaN,NaN,Automática,NaN,4x4,190737,NaN,NaN,NaN,NaN,NaN
6678,Nissan Sentra 2018 #163090,89200 KM,Precio: $263999,Kavak Punto Sur,Guadalajara,https://www.kavak.com/mx/nissan-sentra-advance...,https://images.kavak.services/images/163090/EX...,NaN,NaN,Automática,NaN,4x2,163090,NaN,5.2,NaN,NaN,NaN

In [53]:
df_final['title'] = df_final['title'].str.replace(r' #[0-9]+.*$','',regex=True)
df_final['modelo'] = df_final['title'].str.extract(r'(\s\d+$)')
df_final['title'] = df_final['title'].str.replace(r'\s\d+$','',regex=True)
df_final['brand'] = df_final['title'].str.extract(r'(^[A-Z-a-z]+) .*')
df_final['car_location'] = df_final['car_location'].str.replace(r'^\s|\s$','',regex=True)
df_final['car_city'] = df_final['car_city'].str.replace(r'^\s|\s$','',regex=True)

In [54]:
df_final['km'] = df_final['km'].str.replace(r'\D','',regex=True)
df_final['price'] = df_final['price'].str.replace(r'\D','',regex=True)
# if 'Litros' in df_final:
#     df_final['Litros'] = df_final['Litros'].str.replace(',','.')
# if 'ConsumodeGasolina' in df_final:
#     df_final['ConsumodeGasolina'] = df_final['ConsumodeGasolina'].str.replace(',','.')
# if 'NumerodeVelocidades' in df_final:
#     df_final['NumerodeVelocidades'] = df_final['NumerodeVelocidades'].str.replace(r'\D','',regex=True)

In [55]:
df_final.sample(5)

,title,km,price,car_location,car_city,url,image_link,Combustible,VidriosDelanterosfuncionamiento,Transmisión,Uso,Tracción,StockID,Litros,ConsumodeGasolina,CaballosdeFuerza,Turbo,NumerodeVelocidades,modelo,brand
4371,Nissan X Trail,59820,368999,Online Puebla,Puebla,https://www.kavak.com/mx/nissan-x-trail-sense-...,https://images.kavak.services/images/172102/EX...,NaN,NaN,Automática,NaN,4x2,172102,NaN,NaN,NaN,NaN,NaN,2018,Nissan
5,Infiniti QX60,87997,395999,Kavak Punto Valle,Monterrey,https://www.kavak.com/mx/infiniti-qx60-qx60-pe...,https://images.kavak.services/images/35307/inf...,Gasolina,NaN,Automática,Particular,4x4,35307,"3,5","8,8",NaN,NaN,NaN,2016,Infiniti
5871,Volkswagen Jetta A7,60661,342999,Online CDMX,Ciudad de México,https://www.kavak.com/mx/volkswagen-jetta-a7-c...,https://images.kavak.services/images/166304/EX...,NaN,NaN,Manual,NaN,4x2,166304,NaN,5.1,NaN,NaN,NaN,2019,Volkswagen
6269,Mazda Mazda 3,63500,314999,Online CDMX,Ciudad de México,https://www.kavak.com/mx/mazda-mazda-3-s-grand...,https://images.kavak.services/images/164912/EX...,NaN,NaN,Automática,NaN,4x2,164912,NaN,7,NaN,NaN,NaN,2018,Mazda
5118,Honda Hr-V,97554,285999,Kavak Artz Pedregal,Ciudad de México,https://www.kavak.com/mx/honda-hr-v-uniq-2016-...,https://images.kavak.services/images/169201/EX...,NaN,NaN,Manual,NaN,4x2,169201,NaN,NaN,NaN,NaN,NaN,2016,Honda

In [56]:
df_final = df_final[['StockID','title','brand','modelo','Transmisión','car_city','car_location','km','price','url','image_link']]

In [57]:
df_final.sample(5)

,StockID,title,brand,modelo,Transmisión,car_city,car_location,km,price,url,image_link
5588,167451,Chevrolet Spark,Chevrolet,2019,Automática,Guadalajara,Kavak Midtown Guadalajara,51600,233999,https://www.kavak.com/mx/chevrolet-spark-hatch...,https://images.kavak.services/images/167451/EX...
7556,158848,Audi Q3 Quattro,Audi,2014,Automática,Ciudad de México,Kavak Artz Pedregal,89012,340999,https://www.kavak.com/mx/audi-q3-quattro-elite...,https://images.kavak.services/images/158848/EX...
2149,184288,Chevrolet Sonic,Chevrolet,2017,Manual,Ciudad de México,Kavak Plaza Fortuna,55304,205999,https://www.kavak.com/mx/chevrolet-sonic-lt-ca...,https://images.kavak.services/images/184288/EX...
1731,186003,Mazda Cx-3,Mazda,2018,Automática,Ciudad de México,Online CDMX,59600,353999,https://www.kavak.com/mx/mazda-cx-3-i-sport-20...,https://images.kavak.services/images/186003/EX...
3766,174415,Kia Forte,Kia,2018,Manual,Querétaro,Kavak Puerta la Victoria,95309,285999,https://www.kavak.com/mx/kia-forte-sx-2018-com...,https://images.kavak.services/images/174415/EX...

In [58]:
df_final = df_final.fillna('')
df_final = df_final.drop_duplicates()

In [59]:
df_final = df_final.rename(columns={
    'StockID' : 'Stock Id',
    'title' : 'Automovil',
    'brand' : 'Marca',
    'modelo' : 'Modelo (Año)',
    'car_location':'Locación',
    'car_city': 'Ciudad',
    'km' : 'Kilometraje',
    'price' : 'Precio',
    'url' : 'URL',
    'image_link' : 'URL de la Imagen'

})

In [62]:
df_final.drop(df_final[df_final.Ciudad == 'None'].index, inplace=True)

In [63]:
df_final

,Stock Id,Automovil,Marca,Modelo (Año),Transmisión,Ciudad,Locación,Kilometraje,Precio,URL,URL de la Imagen
0,47869,Jeep Wrangler,Jeep,2017,Automática,Monterrey,Kavak Punto Valle,60000,707999,https://www.kavak.com/mx/jeep-wrangler-unlimit...,https://images.kavak.services/images/47869/wra...
1,41530,Honda Accord,Honda,2015,Automática,Monterrey,Kavak Punto Valle,105360,241999,https://www.kavak.com/mx/honda-accord-exl-2015...,https://images.kavak.services/images/41530/hon...
2,39442,Infiniti Q50,Infiniti,2017,Automática,Monterrey,Kavak Punto Valle,83440,396999,https://www.kavak.com/mx/infiniti-q50-hibrido-...,https://images.kavak.services/images/39442/inf...
3,37565,Toyota Camry,Toyota,2015,Automática,Monterrey,Kavak Punto Valle,71350,245999,https://www.kavak.com/mx/toyota-camry-xle-2015...,https://images.kavak.services/images/37565/toy...
4,36161,Ford Edge,Ford,2016,Automática,Monterrey,Kavak Punto Valle,106640,354999,https://www.kavak.com/mx/ford-edge-sel-plus-20...,https://images.kavak.services/images/36161/for...
...,...,...,...,...,...,...,...,...,...,...,...
7808,157406,Chevrolet Aveo,Chevrolet,2020,Manual,Puebla,Online Puebla,46780,209999,https://www.kavak.com/mx/chevrolet-aveo-ls-202...,https://images.kavak.services/images/157406/EX...
7809,157399,Honda Civic,Honda,2016,Automática,Ciudad de México,Kavak Patio Santa Fe,79256,293999,https://www.kavak.com/mx/honda-civic-turbo-sed...,https://images.kavak.services/images/157399/EX...
7810,157397,Chevrolet Trax,Chevrolet,2017,Manual,Puebla,Kavak Las Torres,69445,241999,https://www.kavak.com/mx/chevrolet-trax-ls-cam...,https://images.kavak.services/images/157397/EX...
7811,157395,Acura RDX,Acura,2017,Automática,Ciudad de México,Kavak Cosmopol,76220,426999,https://www.kavak.com/mx/acura-rdx-rdx-2017-co...,https://images.kavak.services/images/157395/EX...
7813,157388,Chevrolet Malibu,Chevrolet,2018,Automática,Puebla,Online Puebla,73070,376999,https://www.kavak.com/mx/chevrolet-malibu-prem...,https://images.kavak.services/images/157388/EX...