In [3]:
import pandas as pd
import json
import gspread

In [4]:
df = pd.read_csv('raw_dataset.csv')
df.sample(5)

,Unnamed: 0,title,km,price,features,url,image_link
266,266,Chevrolet Beat 2018 #154891,70877 KM,Precio: $174999,"{' Tracción': '4x2', 'Transmisión': 'Manual', ...",https://www.kavak.com/mx/chevrolet-beat-ltz-20...,https://images.kavak.services/images/154891/EX...
208,208,Volkswagen Vento 2017 #164282,116165 KM,Precio: $199999,"{' Transmisión': 'Manual', 'Tracción': '4x2', ...",https://www.kavak.com/mx/volkswagen-vento-high...,https://images.kavak.services/images/164282/EX...
533,533,Renault Logan 2018 #181134,78300 KM,Precio: $183999,"{' Tracción': '4x2', 'Transmisión': 'Manual', ...",https://www.kavak.com/mx/renault-logan-life-20...,https://images.kavak.services/images/181134/EX...
680,680,Seat Toledo 2018 #141270,65180 KM,Precio: $277999,"{' Transmisión': 'Automática', 'Tracción': '4x...",https://www.kavak.com/mx/seat-toledo-style-14-...,https://images.kavak.services/images/141270/EX...
210,210,Mazda Mazda 3 2018 #164109,73240 KM,Precio: $298999,"{' Tracción': '4x2', 'Transmisión': 'Automátic...",https://www.kavak.com/mx/mazda-mazda-3-s-2018-...,https://images.kavak.services/images/164109/EX...

In [5]:
df = df.iloc[:,1:]
df.sample(5)

,title,km,price,features,url,image_link
430,Volkswagen Polo 2020 #144428,22771 KM,Precio: $248999,"{' Tracción': '4x2', 'Transmisión': 'Manual', ...",https://www.kavak.com/mx/volkswagen-polo-hatch...,https://images.kavak.services/images/144428/EX...
538,Chevrolet Cruze 2017 #180514,56000 KM,Precio: $229999,"{' Tracción': '4x2', 'Transmisión': 'Automátic...",https://www.kavak.com/mx/chevrolet-cruze-ls-tu...,https://images.kavak.services/images/180514/EX...
5,Honda City 2018 #189720,85400 KM,Precio: $275999,"{' Tracción': '4x2', 'Transmisión': 'Automátic...",https://www.kavak.com/mx/honda-city-ex-2018-co...,https://images.kavak.services/images/189720/EX...
344,Nissan Sentra 2018 #129502,53400 KM,Precio: $227999,"{' Tracción': '4x2', 'Transmisión': 'Manual', ...",https://www.kavak.com/mx/nissan-sentra-sense-2...,https://images.kavak.services/images/129502/EX...
420,Nissan Sentra 2017 #152730,99291 KM,Precio: $215999,"{' Transmisión': 'Manual', 'Tracción': '4x2', ...",https://www.kavak.com/mx/nissan-sentra-advance...,https://images.kavak.services/images/152730/EX...

In [6]:
df['features'] = df['features'].str.replace("'",'"')
df['features'] = df['features'].str.replace(" ",'')
df['features'] = df['features'].apply(lambda x: json.loads(x))

In [7]:
count=0
for row in df['features']:
    row.update({'key': count})
    count +=1
df['features']

0      {'Transmisión': 'Manual', 'Uso': 'Particular',...
1      {'Transmisión': 'Automática', 'Tracción': '4x2...
2      {'Tracción': '4x2', 'Transmisión': 'Automática...
3      {'Tracción': '4x2', 'Transmisión': 'Automática...
4      {'Transmisión': 'Automática', 'Tracción': '4x2...
                             ...
795    {'Tracción': '4x2', 'Transmisión': 'Manual', '...
796    {'Tracción': '4x2', 'Transmisión': 'Manual', '...
797    {'Tracción': '4x2', 'Transmisión': 'Automática...
798    {'Transmisión': 'Automática', 'Tracción': '4x2...
799    {'Tracción': '4x2', 'Transmisión': 'Manual', '...
Name: features, Length: 800, dtype: object

In [8]:
features_list = []
for row in df['features']:
    features_list.append(row)
df2 = pd.DataFrame(features_list)
df2

,Transmisión,Uso,Tracción,Combustible,Litros,ConsumodeGasolina,StockID,key
0,Manual,Particular,4x2,Gasolina,"1,8","8,1",47639,0
1,Automática,NaN,4x2,NaN,NaN,NaN,191988,1
2,Automática,NaN,4x2,NaN,NaN,NaN,191816,2
3,Automática,NaN,4x2,NaN,NaN,NaN,191577,3
4,Automática,NaN,4x2,NaN,NaN,NaN,190108,4
...,...,...,...,...,...,...,...,...
795,Manual,NaN,4x2,NaN,NaN,4.9,131110,795
796,Manual,NaN,4x2,NaN,NaN,6,127887,796
797,Automática,NaN,4x2,NaN,NaN,NaN,120252,797
798,Automática,NaN,4x2,NaN,"2,5","7,7",116221,798
799,Manual,NaN,4x2,NaN,NaN,"4,6",111246,799

In [9]:
df['key'] = df.index
df.head()

,title,km,price,features,url,image_link,key
0,Honda Civic 2015 #47639,89681 KM,Precio: $230999,"{'Transmisión': 'Manual', 'Uso': 'Particular',...",https://www.kavak.com/mx/honda-civic-lx-2015-c...,https://images.kavak.services/images/47639/civ...,0
1,Nissan Versa 2019 #191988,29777 KM,Precio: $238999,"{'Transmisión': 'Automática', 'Tracción': '4x2...",https://www.kavak.com/mx/nissan-versa-sense-20...,https://images.kavak.services/images/191988/EX...,1
2,Chevrolet Sonic 2017 #191816,116705 KM,Precio: $198999,"{'Tracción': '4x2', 'Transmisión': 'Automática...",https://www.kavak.com/mx/chevrolet-sonic-lt-ca...,https://images.kavak.services/images/191816/EX...,2
3,Nissan Versa 2015 #191577,81200 KM,Precio: $174999,"{'Tracción': '4x2', 'Transmisión': 'Automática...",https://www.kavak.com/mx/nissan-versa-sense-20...,https://images.kavak.services/images/191577/EX...,3
4,Ford Eco Sport 2016 #190108,43300 KM,Precio: $258999,"{'Transmisión': 'Automática', 'Tracción': '4x2...",https://www.kavak.com/mx/ford-eco-sport-trend-...,https://images.kavak.services/images/190108/EX...,4

In [10]:
df_final = df.merge(df2, on='key',how='left')

In [11]:
df_final.sample(5)

,title,km,price,features,url,image_link,key,Transmisión,Uso,Tracción,Combustible,Litros,ConsumodeGasolina,StockID
295,Mini Cooper 2016 #150183,111800 KM,Precio: $290999,"{'Transmisión': 'Manual', 'Tracción': '4x2', '...",https://www.kavak.com/mx/mini-cooper-chili-201...,https://images.kavak.services/images/150183/EX...,295,Manual,NaN,4x2,NaN,NaN,6.1,150183
759,Mazda Mazda 3 2015 #163194,58758 KM,Precio: $253999,"{'Tracción': '4x2', 'Transmisión': 'Automática...",https://www.kavak.com/mx/mazda-mazda-3-hb-s-20...,https://images.kavak.services/images/163194/EX...,759,Automática,NaN,4x2,NaN,NaN,7,163194
600,Nissan Versa 2019 #165453,38000 KM,Precio: $221999,"{'Transmisión': 'Manual', 'Tracción': '4x2', '...",https://www.kavak.com/mx/nissan-versa-sense-20...,https://images.kavak.services/images/165453/EX...,600,Manual,NaN,4x2,NaN,NaN,5.6,165453
119,Mazda Mazda 3 2016 #175276,117300 KM,Precio: $221999,"{'Tracción': '4x2', 'Transmisión': 'Automática...",https://www.kavak.com/mx/mazda-mazda-3-i-touri...,https://images.kavak.services/images/175276/EX...,119,Automática,NaN,4x2,NaN,NaN,NaN,175276
446,Nissan Juke 2015 #190168,135000 KM,Precio: $219999,"{'Transmisión': 'Automática', 'Tracción': '4x2...",https://www.kavak.com/mx/nissan-juke-advance-2...,https://images.kavak.services/images/190168/EX...,446,Automática,NaN,4x2,NaN,NaN,NaN,190168

In [12]:
df_final.drop(columns = ['key','features'], inplace=True)

In [13]:
df_final.sample(5)

,title,km,price,url,image_link,Transmisión,Uso,Tracción,Combustible,Litros,ConsumodeGasolina,StockID
56,Ford Eco Sport 2017 #181871,44000 KM,Precio: $272999,https://www.kavak.com/mx/ford-eco-sport-titani...,https://images.kavak.services/images/181871/EX...,Automática,NaN,4x2,NaN,NaN,NaN,181871
735,Kia Rio 2017 #175617,48000 KM,Precio: $225999,https://www.kavak.com/mx/kia-rio-ex-2017-compr...,https://images.kavak.services/images/175617/EX...,Manual,NaN,4x2,NaN,NaN,NaN,175617
765,Volkswagen Vento 2020 #160421,19206 KM,Precio: $251999,https://www.kavak.com/mx/volkswagen-vento-star...,https://images.kavak.services/images/160421/EX...,Manual,NaN,4x2,NaN,NaN,NaN,160421
449,Volkswagen Vento 2017 #189156,30000 KM,Precio: $203999,https://www.kavak.com/mx/volkswagen-vento-star...,https://images.kavak.services/images/189156/EX...,Manual,NaN,4x2,NaN,NaN,NaN,189156
191,Chevrolet Sonic 2016 #166739,119492 KM,Precio: $178999,https://www.kavak.com/mx/chevrolet-sonic-lt-li...,https://images.kavak.services/images/166739/EX...,Manual,NaN,4x2,NaN,NaN,6.4,166739

In [14]:
df_final['title'] = df_final['title'].str.replace(r' #[0-9]+.*$','',regex=True)
df_final['modelo'] = df_final['title'].str.extract(r'(\s\d+$)')
df_final['title'] = df_final['title'].str.replace(r'\s\d+$','',regex=True)
df_final['brand'] = df_final['title'].str.extract(r'(^[A-Z-a-z]+) .*')

In [15]:
df_final['km'] = df_final['km'].str.replace(r'\D','',regex=True)
df_final['price'] = df_final['price'].str.replace(r'\D','',regex=True)
# if 'Litros' in df_final:
#     df_final['Litros'] = df_final['Litros'].str.replace(',','.')
# if 'ConsumodeGasolina' in df_final:
#     df_final['ConsumodeGasolina'] = df_final['ConsumodeGasolina'].str.replace(',','.')
# if 'NumerodeVelocidades' in df_final:
#     df_final['NumerodeVelocidades'] = df_final['NumerodeVelocidades'].str.replace(r'\D','',regex=True)

In [16]:
df_final.sample(5)

,title,km,price,url,image_link,Transmisión,Uso,Tracción,Combustible,Litros,ConsumodeGasolina,StockID,modelo,brand
698,Chevrolet Sonic,75200,198999,https://www.kavak.com/mx/chevrolet-sonic-ltz-c...,https://images.kavak.services/images/108922/so...,Automática,NaN,4x2,NaN,"1,6","6,4",108922,2017,Chevrolet
119,Mazda Mazda 3,117300,221999,https://www.kavak.com/mx/mazda-mazda-3-i-touri...,https://images.kavak.services/images/175276/EX...,Automática,NaN,4x2,NaN,NaN,NaN,175276,2016,Mazda
14,Toyota Yaris,75600,287999,https://www.kavak.com/mx/toyota-yaris-s-2019-c...,https://images.kavak.services/images/187726/EX...,Automática,NaN,4x2,NaN,NaN,NaN,187726,2019,Toyota
542,Volkswagen Beetle,96000,259999,https://www.kavak.com/mx/volkswagen-beetle-hat...,https://images.kavak.services/images/179807/EX...,Manual,NaN,4x2,NaN,NaN,NaN,179807,2016,Volkswagen
423,Bmw Serie 5,108000,292999,https://www.kavak.com/mx/bmw-serie-5-535i-m-sp...,https://images.kavak.services/images/149285/EX...,Automática,NaN,4x2,NaN,NaN,8,149285,2012,Bmw

In [17]:
df_final = df_final[['StockID','title','brand','modelo','Transmisión','km','price','url','image_link']]

In [18]:
df_final.sample(5)

,StockID,title,brand,modelo,Transmisión,km,price,url,image_link
575,172587,Chevrolet Aveo,Chevrolet,2018,Manual,78604,166999,https://www.kavak.com/mx/chevrolet-aveo-ls-lin...,https://images.kavak.services/images/172587/EX...
427,145775,Renault Captur,Renault,2018,Manual,78300,256999,https://www.kavak.com/mx/renault-captur-intens...,https://images.kavak.services/images/145775/EX...
61,181476,Kia Rio,Kia,2020,Manual,42213,250999,https://www.kavak.com/mx/kia-rio-lx-2020-compr...,https://images.kavak.services/images/181476/EX...
263,155410,Volkswagen Jetta A6,Volkswagen,2018,Automática,57500,252999,https://www.kavak.com/mx/volkswagen-jetta-a6-2...,https://images.kavak.services/images/155410/EX...
12,187873,Seat Ibiza,Seat,2018,Manual,44510,261999,https://www.kavak.com/mx/seat-ibiza-style-2018...,https://images.kavak.services/images/187873/EX...

In [19]:
df_final = df_final.fillna('')
df_final = df_final.drop_duplicates()

In [20]:
df_final = df_final.rename(columns={
    'StockID' : 'Stock Id',
    'title' : 'Automovil',
    'brand' : 'Marca',
    'modelo' : 'Modelo (Año)',
    'km' : 'Kilometraje',
    'price' : 'Precio',
    'url' : 'URL',
    'image_link' : 'URL de la Imagen'

})

In [21]:
df_final

,Stock Id,Automovil,Marca,Modelo (Año),Transmisión,Kilometraje,Precio,URL,URL de la Imagen
0,47639,Honda Civic,Honda,2015,Manual,89681,230999,https://www.kavak.com/mx/honda-civic-lx-2015-c...,https://images.kavak.services/images/47639/civ...
1,191988,Nissan Versa,Nissan,2019,Automática,29777,238999,https://www.kavak.com/mx/nissan-versa-sense-20...,https://images.kavak.services/images/191988/EX...
2,191816,Chevrolet Sonic,Chevrolet,2017,Automática,116705,198999,https://www.kavak.com/mx/chevrolet-sonic-lt-ca...,https://images.kavak.services/images/191816/EX...
3,191577,Nissan Versa,Nissan,2015,Automática,81200,174999,https://www.kavak.com/mx/nissan-versa-sense-20...,https://images.kavak.services/images/191577/EX...
4,190108,Ford Eco Sport,Ford,2016,Automática,43300,258999,https://www.kavak.com/mx/ford-eco-sport-trend-...,https://images.kavak.services/images/190108/EX...
...,...,...,...,...,...,...,...,...,...
795,131110,Chevrolet Beat,Chevrolet,2018,Manual,72100,162999,https://www.kavak.com/mx/chevrolet-beat-lt-201...,https://images.kavak.services/images/131110/EX...
796,127887,Volkswagen Vento,Volkswagen,2019,Manual,36900,224999,https://www.kavak.com/mx/volkswagen-vento-comf...,https://images.kavak.services/images/127887/EX...
797,120252,Ford Eco Sport,Ford,2017,Automática,72800,268999,https://www.kavak.com/mx/ford-eco-sport-titani...,https://images.kavak.services/images/120252/ec...
798,116221,Volkswagen Jetta A6,Volkswagen,2016,Automática,62200,238999,https://www.kavak.com/mx/volkswagen-jetta-a6-c...,https://images.kavak.services/images/116221/je...
799,111246,Seat Toledo,Seat,2019,Manual,41672,239999,https://www.kavak.com/mx/seat-toledo-style-201...,https://images.kavak.services/images/111246/to...